//font-families
$open-sans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;

//font-weights
$normal: 400;
$medium: 600;
$bold: 700;

//text-styles
$header-text: $poppins;
$paragraph-text: $open-sans;

//primary-colors
$pink: hsl(322, 100%, 66%);
$dark-pink: hsl(322, 86%, 53%);
$white: hsl(0, 0%, 100%);

//Neutral Colors
$pale-cyan: hsl(193, 100%, 96%);
$dark-cyan: hsl(192, 100%, 9%);
$gray-blue: hsl(208, 11%, 55%);