@use '../globals' as *;
@use '../components/' as *;

header {
    position: absolute;
    width: 100%;
    @include flex (row);
    align-items: center;
    justify-content: space-between;
    padding: 1.3rem 1rem;

    @include breakpoint (tablet) {
        padding: 2rem 3rem;
    }

    @include breakpoint (desktop) {
        padding: 2.5rem 5rem;
    }
}

.header {
    
    &__logo {
        max-width: 8rem;

        @include breakpoint(tablet) {
            max-width: 10rem;
        }

        @include breakpoint(desktop) {
            max-width: 12.4rem;
        }
    }

    &__btn {
        padding: 0.4rem 1.5rem;
        background-color: $white;
        
        @include breakpoint(tablet) {
            padding: 0.8rem 3rem;
        }

        @include breakpoint(desktop) {
            padding: 1rem 4rem;
        }
    }
}